/** ----------------------------------------------------
//  0. Index
//  1. Colors setup
//  2  Main Structure
//  3. Link/button events
// ---------------------------------------------------- **/

/** ----------------------------------------------------
// 1. COLOR SETUP
// ---------------------------------------------------- **/

$primary: #404040;
$white: #FFFFFF;
$border-color: rgba($primary, 0.2);
$light-gray: rgba($primary, 0.75);

$btn-link: #219186;
$btn-link-hover: rgba($btn-link, 0.85);

$link: #219186;
$link-hover: rgba($link, 0.85);


/** ----------------------------------------------------
// 2. STRUCTURE
// ---------------------------------------------------- **/

.ng-cloak,
.x-ng-cloak {
  	display: none !important;
}

html{
	font-size: 100%;
	font-family: Helvetica, aria,  sans-serif;
	font-weight: normal;
    line-height: 1.8;

	color: $primary;
}

body{
	@include fontSize(16);
}

/** ----------------------------------------------------
// 2. LINK/BUTTON EVENT
// ---------------------------------------------------- **/

a,
a:hover,
a:focus,
a:visited{
	text-decoration: none;
}

